html
  head
    title='GapChat'
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    script(src='/scripts/autoRefreshPage.js')
  body
    div(class='table-responsive text-nowrap')
      table(class='table table-bordered')
        thead
          tr
            th requestedBy
            th updatedAt
            th User
            th deviceId
        tbody
          each location in userLocation.length ? userLocation : []
            tr
              th= location.requestedBy
              th= moment(location.updatedAt).format('YYYY-MM-DD hh:mm:ss a')
              if location.fromUser[0]
                th= location.fromUser[0].nickName
              else
                th= ''
              th= location.deviceId

