html
  head
    title='GapChat'
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
  body
    div= numUserLocation
    div(class='table-responsive text-nowrap')
      table(class='table table-bordered')
        thead
          tr
            th RequestedBy
            th Last Update
            th User
            th City
            th Country
            th DeviceId
        tbody
          each location in userLocation
            - url = 'location/' + location.deviceId
            tr
              th= location.requestedBy
              th= moment(location.updatedAt).tz('Australia/Sydney').format('YYYY-MM-DD hh:mm:ss a')
              if location.fromUser[0]
                th= location.fromUser[0].nickName
              else
                th= ''
              th= location.cityName
              th= location.countryName
              th
                a(href=url)= location.deviceId

